.CardAdm:hover {
  background-color: rgb(238, 236, 236);

  transition: transform 0.5s ease;
}
.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Delete";
  color: #ffffff;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 12px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
/***block btn****/
.buttoon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: not-allowed;
  overflow: hidden;
  transition: all 0.3s ease cubic-bezier(0.23, 1, 0.32, 1);
}

.buttoon span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.buttoon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #f53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.buttoon svg {
  width: 32px;
  height: 32px;
  fill: #f53844;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.buttoon:hover {
  animation: shake 0.2s linear 1;
}

.buttoon:hover::before {
  translate: 0 0;
}

.button:hover svg {
  fill: #e8e8e8;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }

  33% {
    rotate: 10deg;
  }

  66% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}
