.topNav {
  height: 30px;
  background-color: #338989;
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 36px;
  text-align: center;
}
.input {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 35px;
  background-color: transparent;
}
.serachIcon {
  position: absolute;
  top: 0;
  margin-top: 47px;
  margin-left: 200px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.mainNav {
  display: flex;
  justify-content: space-between;

  height: 80px;
  z-index: 10;
}
.rightBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
}
.centerBlock {
  display: flex;
  justify-content: center;
}
.addLogo {
  cursor: pointer;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}
.leftBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.panierLogo {
  margin-top: -10px;
  position: relative;
}
.serachIcon:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  color: rgb(0, 0, 0);
}
/* .ShoppingCARDTITLE {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.panierLogo:hover .ShoppingCARDTITLE {
  opacity: 1;
} */

.ShoppingCARD:hover {
  color: crimson;
}
